@font-face {
	font-family: "Raleway";
	src: url("./assets/fonts/raleway/Raleway-VariableFont_wght.ttf") format("woff2");
	font-weight: 100 900;
	font-style: italic;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}

.text-fs-primary {
	color: #1f1f54 !important;
}

.bg-fs-primary {
	background-color: #1f1f54 !important;
}

.bg-fs-secondary {
	background-color: #3dbfb8 !important;
}

.bgc_cards {
	background: #111117 !important;
}

.bg-secondary-cards {
	background: rgba(17, 17, 23, 1) !important;
	border-color: #3dbfb8 !important;
	/* box-shadow: 0 0 10px #3dbfb8 !important; */
}

.bgc-opacity-30 {
	background: rgba(56, 52, 52, 0.3) !important;
	border-color: #3dbfb8 !important;
	justify-content: center;
	align-items: center;
}

.rounded-custom {
	border-radius: 10px !important;
}

/* #1F1F54
#3DBFB8
#D1F2EF */
